body {
  background-color: rgb(92, 255, 250);
  color:red;
}

.SecretZone {
  background-color:green;
  color:black;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}
.counter {
  font-size: 20px;
  margin-top: 20px;
}

.api-key-input {
  padding: 10px;
  font-size: 16px;
  width: 300px;
  transition: filter 0.3s ease-in-out;
  filter: blur(5px);
}
.api-key-input:hover,
.api-key-input:focus {
  filter: none;
}